In [15]:
# imports
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

## Functions in R
custom functions in the global environment using the function() command

In [1]:
# function that would convert test_temp from degrees Celsius to Fahrenheit
celsius_to_fahrenheit <- function(dat){
  temp_far <- dat*(9/5) + 32
 
  return(temp_far)
}

In [3]:
test_temp <- 16.5
# call function
dat_far <- celsius_to_fahrenheit(test_temp)
dat_far

[1] 61.7

## apply()
The apply() function is a kind of shortcut to custom functions. As given in its name, it applies a function to either each row or column of a dataframe or matrix.
    
    apply(X, MARGIN, FUN)
    
The MARGIN specification determines whether the function FUN is applied across the rows (1) or down the columns (2) of the object X.

In [4]:
test_mat <- matrix(data = c(1, 2), nrow = 2, ncol = 3)
test_mat

     [,1] [,2] [,3]
[1,] 1    1    1
[2,] 2    2    2

In [7]:
# apply the sum() function over each row (margin value 1)
apply(X = test_mat, MARGIN = 1, FUN = sum)

[1] 3 6

In [10]:
# apply the sum() function down each column (margin value 2)
apply(X = test_mat, MARGIN = 2, FUN = sum)

[1] 3 3 3

In [18]:
# Create the tibble
dat <- tibble(
  test1 = c(87, 92, 73, 85, 95, 86, 89, 80, 75, 91),
  test2 = c(85, 87, 82, 90, 92, 90, 82, 84, 86, 88),
  quiz1 = c(10, 9, 10, 8, 10, 7, 9, 8, 9, 8),
  quiz2 = c(8, 9, 10, 8, 8, 8, 9, 10, 9, 9)
)

In [21]:
# use apply() to get the maximum of each column, 1=rows, 2=columns
apply(dat, 2, max)

test1 test2 quiz1 quiz2
   95    92    10    10