## Initializing a list
Lists are initiated using the list(x, y, z) function where x, y, and z are the different objects in the list. We can see the structure of a list using str()

In [3]:
## Initiate list1
list1 <- list(5, "b", c(0.5, 0.25), list(1,1,0))
str(list1)

List of 4
 $ : num 5
 $ : chr "b"
 $ : num [1:2] 0.5 0.25
 $ :List of 3
  ..$ : num 1
  ..$ : num 1
  ..$ : num 0

Get the contents of an object in a list using double-brackets [[a]] where a is the index of the desired object. If we were to use single brackets [a], R would return the whole object at index a rather than the contents of the object.

In [4]:
list1[3]

[[1]]
[1] 0.50 0.25

In [5]:
list1[[3]]

[1] 0.50 0.25

In [8]:
list1[[4]]

[[1]]
[1] 1

[[2]]
[1] 1

[[3]]
[1] 0

In [9]:
list1[4]

[[1]]
[[1]][[1]]
[1] 1

[[1]][[2]]
[1] 1

[[1]][[3]]
[1] 0

Give names to each object in the list. This would allow the contents of an object to be called more easily by just using $.

In [10]:
## Initiate list using names for objects
list2 <- list(a = 5, b = "b", c = c(0.5, 0.25), d = list(day1 = 1, 
                                                day2 = 1, 
                                                day3 = 0))

In [11]:
## View structure of list2
str(list2)

List of 4
 $ a: num 5
 $ b: chr "b"
 $ c: num [1:2] 0.5 0.25
 $ d:List of 3
  ..$ day1: num 1
  ..$ day2: num 1
  ..$ day3: num 0

In [13]:
## Print object named c from list2
list2$c

[1] 0.50 0.25

Note: the fourth object in list1 and list2 is a list within a list or a nested list. Also, each object in nested list d is named. Accessing data in nested lists follows the pattern of accessing data in a regular list.

In [14]:
## Call unnamed object from a nested list by index numbers
list1[[4]][[2]]

[1] 1

In [16]:
## Call named object from a nested list by names
list2$d$day3

[1] 0

* This is when naming objects in a list may be convenient; having multiple sets of double-brackets can be hard to interpret sometimes.

# Adding and removing from a list
* adding a 5th object to the list

In [43]:
## Add an unnamed object
list1[[5]] <- 45
list2

$a
[1] 5

$b
[1] "q"

$c
[1] 0.5 1.0

$d
$d$day1
[1] 1

$d$day2
[1] 1

$d$day3
[1] 0

In [26]:
## Add a named object
list2$e <- 45
list2

$a
[1] 5

$b
[1] "b"

$c
[1] 0.50 0.25

$d
$d$day1
[1] 1

$d$day2
[1] 1

$d$day3
[1] 0


$e
[1] 45

* Remove an object

In [42]:
## Remove an unnamed object
list1[[5]] <- NULL
list1

[[1]]
[1] 5

[[2]]
[1] "q"

[[3]]
[1] 0.5 1.0

[[4]]
[[4]][[1]]
[1] 1

[[4]][[2]]
[1] 1

[[4]][[3]]
[1] 0

In [37]:
## Remove a named object
list2$e <- NULL
print(list2)

$a
[1] 5

$b
[1] "q"

$c
[1] 0.50 0.25

$d
$d$day1
[1] 1

$d$day2
[1] 1

$d$day3
[1] 0

# Changing objects in a list
Change to an object in a list by calling the specific object and using the assignment sign <-. 

The following code shows how to make changes to either named or unnamed objects in a list:

In [41]:
## Change unnamed objects
list1[[2]] <- "q"
list1

[[1]]
[1] 5

[[2]]
[1] "q"

[[3]]
[1] 0.5 1.0

[[4]]
[[4]][[1]]
[1] 1

[[4]][[2]]
[1] 1

[[4]][[3]]
[1] 0

In [40]:
## Change named objects
list2$b <- "q"
list2

$a
[1] 5

$b
[1] "q"

$c
[1] 0.5 1.0

$d
$d$day1
[1] 1

$d$day2
[1] 1

$d$day3
[1] 0

We can also change an element of an object in a list (e.g., change one value of a vector that is an object in a list). For example, if we wanted to change the second value of the third object (and do nothing to the other values), we could use the following code:

In [38]:
## Unnamed object
list1[[3]][2] <- 1
list1

[[1]]
[1] 5

[[2]]
[1] "q"

[[3]]
[1] 0.5 1.0

[[4]]
[[4]][[1]]
[1] 1

[[4]][[2]]
[1] 1

[[4]][[3]]
[1] 0

In [39]:
## Named object
list2$c[2] <- 1
list2

$a
[1] 5

$b
[1] "q"

$c
[1] 0.5 1.0

$d
$d$day1
[1] 1

$d$day2
[1] 1

$d$day3
[1] 0

# Coding Question
Here are two lists (list1 and list2) for us to practice some of these methods. Some things we can try are:

* print a list
* check the structure of a list
* check the contents of an object
* add or remove items from the list

In [57]:
# Initiate list1 (unnamed)
list1 <- list(7, c("z", "y", "x", "w"), c(0.5, 0.21, 0.65, 0.77, 0.9), list(1,1,0))

# Initiate list2 (named)
list2 <- list(names = c("Penny", "Jake", "Ji-Hoon", "Hasan"), age = c(24, 20, 19, 22), scores = list(
  test1 = c(9, 7, 7, 8),
  test2 = c(8, 8, 7, 10),
  test3 = c(6, 10, 9, 9)))

In [58]:
# unanmed list

In [59]:
list1

[[1]]
[1] 7

[[2]]
[1] "z" "y" "x" "w"

[[3]]
[1] 0.50 0.21 0.65 0.77 0.90

[[4]]
[[4]][[1]]
[1] 1

[[4]][[2]]
[1] 1

[[4]][[3]]
[1] 0

In [60]:
# change the second value from the third list to 0.22
list1[[3]][2] <- 0.22
list1

[[1]]
[1] 7

[[2]]
[1] "z" "y" "x" "w"

[[3]]
[1] 0.50 0.22 0.65 0.77 0.90

[[4]]
[[4]][[1]]
[1] 1

[[4]][[2]]
[1] 1

[[4]][[3]]
[1] 0

In [61]:
# Remove the first item
list1[[1]] <- NULL
list1

[[1]]
[1] "z" "y" "x" "w"

[[2]]
[1] 0.50 0.22 0.65 0.77 0.90

[[3]]
[[3]][[1]]
[1] 1

[[3]][[2]]
[1] 1

[[3]][[3]]
[1] 0

In [62]:
# Add item back
list1[[1]] <- 7
list1

[[1]]
[1] 7

[[2]]
[1] 0.50 0.22 0.65 0.77 0.90

[[3]]
[[3]][[1]]
[1] 1

[[3]][[2]]
[1] 1

[[3]][[3]]
[1] 0

In [63]:
list2

$names
[1] "Penny"   "Jake"    "Ji-Hoon" "Hasan"

$age
[1] 24 20 19 22

$scores
$scores$test1
[1] 9 7 7 8

$scores$test2
[1]  8  8  7 10

$scores$test3
[1]  6 10  9  9

In [68]:
# Jake wants to update his birthday to 21
list2$age[2] <- 21
list2

$names
[1] "Penny"   "Jake"    "Ji-Hoon" "Hasan"

$age
[1] 24 21 19 22

$scores
$scores$test1
[1] 9 7 7 8

$scores$test2
[1]  8  8  7 10

$scores$test3
[1]  6 10  9  9

In [70]:
# Ji-Hoon did extra credit for his test and went from a 6 to an 8
list2$scores$test3[1] <- 8
list2

$names
[1] "Penny"   "Jake"    "Ji-Hoon" "Hasan"

$age
[1] 24 21 19 22

$scores
$scores$test1
[1] 9 7 7 8

$scores$test2
[1]  8  8  7 10

$scores$test3
[1]  8 10  9  9